@import "vender/bootstrap";
@import "base/base";
@import "position/position";
@import "function/function";

$bg-black: #000;
$bg-white: #fff;
$bg-dark-grey: #d4d4d4;
$light-black: rgba(0, 0, 0, 0.55);
$grey: #ddd;
$orangered: #ff6700;
$light-peach: #f5f5f5;


// globle class start
.bg-peach{
  background: $light-peach;
}

// globle class end

 // slick slider css
.slick-slider {
  z-index: 0;
  .slick-arrow {
    @include absolute(left 80px );
    z-index: 2;
  }
  .slick-prev,.slick-next {
    &:before {
      content: " ";
      display: block;
      background: url(../img/icon-slide-nav1.png) no-repeat Rem(22) 0;
      background-size: cover;
      width: Rem(60);
      height: Rem(60);
      opacity: 1;
    }
  }
  .slick-next {
    left: unset;
    right: Rem(80);
    &:before {
      background: url(../img/icon-slide-nav1.png) no-repeat -36px 0;
    }
  }
  .slider-img {
    @include relative();
    cursor: pointer;
    img{
      transform: scaley(1.3) scaleX(1.4);
    }
  }
  .banner-content {
    @include absolute(left 0 top 0 right 0 bottom 0);
    width: 80%;
    height: 80%;
    margin: auto;
    .product-dis {
      font-size: Rem(18);
      letter-spacing: Rem(.3);
    }
    .price-start {
      font-size: Rem(24);
      .price {
        font-size: Rem(30);
      }
    }
    .buy-btn {
      padding: Rem(12) Rem(30);
      width: 20%;
      @include transition(all, linear, 400ms);
      &:hover {
        background:$bg-white ;
        color: $bg-black !important;
      }
    }
    .note-pro-btn{
      &:hover{
        background: $bg-black;
        color: $bg-white !important;
      }
    }
  }
  .slick-dots{
    bottom: 25px;
    li{
      button{
        width: Rem(15);
        height: Rem(15);
        &:before{
          content: "";
          width: Rem(15);
          height: Rem(15);
          border-radius: 50%;
          border: Rem(1) solid $bg-white;
        }
        &[aria-selected="true"]{
          &:before{
            background: $bg-white;
          }
        }
      }
    }
  }
}


// slick slider css end
// ads section start
.google-ads{
  .ad-img{
    @include transition(all, linear, 400ms);
    &:hover{
      box-shadow: 0px 19px 35px -28px $bg-black;
    }
  }
}



// ads section end!
// section products start--
.section-heading{
  .heading{
    @include relative();
    &:after,&:before{
      content: "";
      @include absolute(left 0 top 50%);
      transform: translate(0 , -50%);
      width: 30%;
      height: .5px;
      background: $bg-dark-grey;
    }
    &:after{
      left: unset;
      right: 0;
    }
  }
}
.grid-img{
  img{
    @include transition(all, ease-in-out, 400ms);
    &:hover{
      box-shadow: 0px 1px 26px -10px $light-black;
      z-index: 2;
      @include absolute();
    }
  }
}
// product section end
// accessories section starts
.accessoires-contents{
  .accessories-link{
    &:hover{
      color: orangered !important;
    }
  }
  .music-items{
    box-shadow: 1px 1px 3px 0.3px $grey;
    margin-bottom: Rem(10);
    @include transition(all, linear, 400ms);
    &:hover{
      box-shadow: 0px 1px 20px -10px $light-black;
      transform: translateY(-2px);
    }
    .item-amount{
      color: $orangered !important;
      padding-bottom: Rem(10);
    }
  }
}

// accessories section end
